body {
  background-color: #4a154b;

  margin: 0;
  font-family: sans-serif;
}

.nav-main {
  display: flex;
  padding: 11px;
  height: 32px;
  background-color: #4a154b;

  justify-content: space-between;
  align-items: center;
  padding: 11px 40px 11px 40px;
}

.search-icon-img,
.burger-icon-img {
  width: 20px;
}

.caret-icon {
  width: 20px;
}

.nav-left-logo-img {
  width: 100px;
  padding-right: 50px;
}

.nav-btn-mid {
  display: none;
  align-items: center;
}

.nav-btn-mid a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.nav-btn {
  display: flex;
  border: none;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 15px;

  color: white;
}

.nav-right-btns {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
}

.nav-right-btn-left,
.nav-right-btn-right {
  background-color: #4a154b;
  border: white solid 1px;
  border-radius: 6px;
  padding: 13px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  display: none;
}
.nav-right-btn-right {
  background-color: white;
  color: #4a154b;
  font-weight: 600;
}

.nav-right-btn {
  display: none;
}

@media (min-width: 1154px) {
  .nav-main {
    height: 58px;
  }

  .nav-btn-mid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .nav-right-btn {
    display: block;
  }
  .nav-left-logo-img {
    height: 41.5px;
  }

  .burger-icon {
    display: none;
  }

  .nav-right-btn-left,
  .nav-right-btn-right {
    display: flex;
  }
}

.search-container {
  position: relative;
  display: none;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 10px;
}

.search-input {
  display: none;
  padding: 10px 20px;
  transition: all 0.3s ease;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: none;
  border-bottom: black solid 1px;
}

.search-icon-3 {
  display: none;
}

.close-icon {
  display: none;
  align-items: center;
  background-color: white;
  position: absolute;
  right: 5px;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}
.close-icon-img {
  width: 20px;
}

.search-input-wrapper {
  position: relative;
  flex: 1;
  display: flex;
}

.search-input {
  flex: 1;
  padding-right: 35px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.close-icon img {
  width: 12px;
  height: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #57004D;
}

.workspace-box {
    background-color: #FAFAFA;
    border: 3px solid #7E3E73;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: 0 auto;
}

.workspace-title-holder {
    background-color: #F1D9EC;
    padding: 4px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    width: 100%;
}

.workspace-title-holder p {
    /* font-weight: 300; */
    font-size: 1.125rem;
    padding: 1rem;
}

.workspace-content-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0.5rem auto;
}

.workspace-content {
    display: flex;
    flex-direction: row;
    margin: 4px 0 10px 0;
    width: 100%;
}

.emblem-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.workspace-info {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.workspace-info h2 {
    font-size: 18px;
}

.members {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
}

.members h3 {
    font-size: 10px;
}

.members-holder {
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: 1px 3px 0 1px;
    display: unset;
}

.members-holder img {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    border: 1px solid white;
}

.slighty-to-the-left{
    margin-left: -7px;
}

.launch-button {
    background-color: #700069;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 14px;
}

.see-additional-container {
    margin: 1.5rem;
}

.see-additional {
    color: #005DA2;
    display: flex;
    font-size: 14px;
}

.point-down {
    font-size: 13px;
    margin-left: 3px;
}

@media (min-width: 800px) {
    .workspace-box {
        width: 60%;
    }
    
    .workspace-content-holder {
        flex-direction: row;
        align-items: center;
    }

    .launch-button {
        width: 20%;
    }

    .workspace-content {
        width: 70%;
    }
}
